.transform-element
{
	height: 200px;
	width: 100%;
	border-bottom-width: 1px;
}

.transform-header
{
	top: 0px;
	position: absolute;
}

.transform-size
{
	position: absolute;
	top: 22px;
	left: 0px;
}

.transform-position
{
	position: absolute;
	top: 44px;
	left: 0px;
}

.transform-scale
{
	position: absolute;
	top: 66px;
	left: 0px;
}

.transform-rotation
{
	position: absolute;
	top: 88px;
	left: 0px;
}

.transform-anchor
{
	position: absolute;
	top: 114px;
	left: 20px;
}

.transform-pivot
{
	position: absolute;
	top: 114px;
	left: 85px;
}

.transform-vertical-position
{
	position: absolute;
	top: 110px;
	left: 140px;
}

.transform-vertical-size
{
	position: absolute;
	top: 132px;
	left: 140px;
}

.transform-horizontal-position
{
	position: absolute;
	top: 154px;
	left: 140px;
}

.transform-horizontal-size
{
	position: absolute;
	top: 176px;
	left: 140px;
}